**
!Dockerfile
!.dockerignore
!environment-lock.json
!locked_env.py
!install.py
!verify_runtime.py
!.staged/
!.staged/artifacts/
!.staged/artifacts/requirements.txt
!.staged/artifacts/license-inventory.json
!.staged/artifacts/cpython-3.14.7+20260924-x86_64-unknown-linux-gnu-install_only_stripped.tar.gz
!.staged/artifacts/contourpy-1.4.0-cp314-cp314-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl
!.staged/artifacts/cuda_toolkit-12.9.2.0-py2.py3-none-any.whl
!.staged/artifacts/cycler-0.12.1-py3-none-any.whl
!.staged/artifacts/fonttools-4.65.0-cp314-cp314-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
!.staged/artifacts/kiwisolver-1.5.1-cp314-cp314-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
!.staged/artifacts/matplotlib-3.11.2-cp314-cp314-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl
!.staged/artifacts/numpy-2.5.3-cp314-cp314-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl
!.staged/artifacts/nvidia_cuda_runtime_cu12-12.9.79-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
!.staged/artifacts/nvidia_curand_cu12-10.3.10.19-py3-none-manylinux_2_27_x86_64.whl
!.staged/artifacts/packaging-26.3-py3-none-any.whl
!.staged/artifacts/pillow-12.3.0-cp314-cp314-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl
!.staged/artifacts/pycolmap_cuda12-4.2.0-cp314-cp314-manylinux_2_28_x86_64.whl
!.staged/artifacts/pyparsing-3.3.2-py3-none-any.whl
!.staged/artifacts/python_dateutil-2.9.0.post0-py2.py3-none-any.whl
!.staged/artifacts/scipy-1.18.1-cp314-cp314-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl
!.staged/artifacts/six-1.17.0-py2.py3-none-any.whl
!.staged/helpers/
!.staged/helpers/collect_dev_python_native.sh
!.staged/helpers/scripts/
!.staged/helpers/scripts/check_dev_contract.py
!.staged/helpers/scripts/check_dev_python_contract.py
